
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

main {
    width: 350px;
    padding: 20px;
    background-color: white;
    border: 2px solid #333;
    border: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}


h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkblue;
}

img {
    border-radius: 10px;
    margin: 10px 0;
}
.profile-img-container{
    width:100;
    height:250px;
    margin-bottom:16px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}


a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

section:last-child {
    margin-top: 15px;
    font-size: 12px;
    color: gray;
}

